@charset 'utf-8';
@import './common';
html, body, div, p, aside, nav, section, header, footer, ul, ol, li, table, h1, h2, h3, h4, h5, h6, input {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body {
	font-family: $globalFontFamily;
}

a {
	text-decoration: none;
}