@font-face {
  font-family: 'new-year';
  src:  url('../assets/fonts/new-year.eot?sr9yhp');
  src:  url('../assets/fonts/new-year.eot?sr9yhp#iefix') format('embedded-opentype'),
    url('../assets/fonts/new-year.ttf?sr9yhp') format('truetype'),
    url('../assets/fonts/new-year.woff?sr9yhp') format('woff'),
    url('../assets/fonts/new-year.svg?sr9yhp#new-year') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'new-year' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner9:before {
  content: "\e982";
}

